
/*===================================== 
	-- initialization --
=====================================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    outline: none;
    list-style: none;
    -ms-text-shadow: none;
    text-shadow: none;
}

::selection {
    background: #8770AE;
    color: #fff;
}

/* Safari */
::-moz-selection {
    background: #8770AE;
    color: #fff;
}
/* Firefox */
:-moz-placeholder, .form-control::-moz-placeholder {
    color: #d1d1d1;
}

::-webkit-input-placeholder, .form-control::-webkit-input-placeholder {
    color: #d1d1d1;
}

:-ms-input-placeholder, .form-control::-ms-input-placeholder {
    color: #d1d1d1;
}

a, a:hover, a:link, a:active, a:focus, a:visited {
    outline: none;
    text-decoration: none;
    color: inherit;
    text-decoration: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    line-height: normal;
}


/*===================================== 
	-- common styles --
=====================================*/

.displayNone {
    display: none;
}

.autoMargin {
    margin: 0 auto;
}

.removeSidePadding {
    padding-left: 0;
    padding-right: 0;
}

.transisionAll * {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.removeTransision * {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.posRelative {
    position: relative;
}

.centered {
    text-align: center;
}

.btn {
    padding: 5px 15px;
    cursor: pointer;
    border: 0;
    line-height: 24px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    .btn.canelBtn {
        /*background-color: grey;*/
    }

    .btn:hover, .btn:focus {
        /*background-color: #616060;
        color: #fff;*/
    }

.btn-icon {
    position: relative;
    display: inline-block;
}

    .btn-icon i {
        position: absolute;
        color: #fff;
        line-height: 24px;
        padding: 5px 0 5px 11px;
        font-size: 1.4em;
    }

    .btn-icon .btn {
        padding-left: 40px;
    }

.form-control {
    font-family: Tahoma, Arial, sans-serif;
    background-color: #FFFFFF;
    border: 1px solid #dddddd;
    color: #767676;
    display: block;
    vertical-align: middle;
    border-radius: 5px;
    box-shadow: none;
    font-size: 14px;
}

    .form-control:focus {
        outline: none;
        border-color: transparent;
        box-shadow: 0 0 3px 0px rgba(161,161,161, 0.8);
    }

textarea, textarea.form-control {
    resize: vertical;
    min-height: 150px;
    width: 100%;
}
